.page {
  border-radius: 1rem;
  background-color: #fff6f67c;
  display: flex;
  > * {
    flex: 1 1 50%;
    box-sizing: border-box;
    padding: 1rem; // Optional: gives spacing inside each child
  }
  > section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.button {
  display: flex;
  gap: 5rem;
}
