.page {
  border-radius: 1rem;
  background-color: #fff6f67c;
  display: flex;
  flex-direction: column;
}

.button {
  display: flex;
  gap: 5rem;
}

.content {
  display: flex;
  > * {
    flex: 1 1 50%;
    box-sizing: border-box;
    padding: 1rem; // Optional: gives spacing inside each child
  }
  > section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

@media (max-width: 900px) {
  .content {
    flex-direction: column;
  }

  /* Optional: reverse order so Picture comes first */
  .content > :nth-child(1) {
    order: 2;
  }

  .content > :nth-child(2) {
    order: 1;
  }
}
