.carouselWrapper {
  position: relative; /* Keep relative positioning to contain absolutely positioned buttons */
  overflow-x: hidden;
  width: 100%;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.slide {
  flex: 0 0 100%;
  width: 100%;
}

.buttons {
  display: flex;
  gap: 3rem;
}

.bodyWrapper {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  overflow: auto;
  gap: 1rem;
  justify-content: center;
  flex-direction: column;
}
