.carouselWrapper {
  display: flex;
  position: relative; /* Keep relative positioning to contain absolutely positioned buttons */
  overflow-x: hidden;
  width: 100%;
  overflow-y: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  will-change: transform;
  backface-visibility: hidden;
}

.slide {
  overflow-y: auto;
  flex: 0 0 100%;
  width: 100%;
}
.bodyWrapper {
  padding: clamp(0vw, 3rem, 5%) ;
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  overflow: auto;
  gap: 1rem;
  justify-content: center;
  flex-direction: column;
}

@media screen and (orientation: landscape) and (max-height: 600px) {
  .bodyWrapper {
    padding: 2vh 2vw 2vh 2vw;
 }
}